<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>SITEMAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>huyttl.filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>huyttl.listener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>huyttl.Controller.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>huyttl.Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>huyttl.Controller.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>huyttl.Controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>huyttl.Controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryOrder</servlet-name>
        <servlet-class>huyttl.Controller.ViewHistoryOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>huyttl.Controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>huyttl.Controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>huyttl.Controller.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>huyttl.Controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>huyttl.Controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>huyttl.Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVoucher</servlet-name>
        <servlet-class>huyttl.Controller.admin_controller.CheckVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyVoucher</servlet-name>
        <servlet-class>huyttl.Controller.ApplyVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCategory</servlet-name>
        <servlet-class>huyttl.Support.CheckCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByID</servlet-name>
        <servlet-class>huyttl.Controller.SearchProductByID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <servlet-class>huyttl.Controller.UpdateOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetails</servlet-name>
        <servlet-class>huyttl.Controller.ViewOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>huyttl.Controller.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailsUser</servlet-name>
        <servlet-class>huyttl.Support.ViewOrderDetailsUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>huyttl.Controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderAccept</servlet-name>
        <servlet-class>huyttl.Support.GetOrderAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderWaiting</servlet-name>
        <servlet-class>huyttl.Support.GetOrderWaiting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTotalIncome</servlet-name>
        <servlet-class>huyttl.Support.GetTotalIncome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAmountProduct</servlet-name>
        <servlet-class>huyttl.Support.GetAmountProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccount</servlet-name>
        <servlet-class>huyttl.Support.GetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPriceEachMonth</servlet-name>
        <servlet-class>huyttl.Support.GetPriceEachMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>huyttl.Controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevertAccount</servlet-name>
        <servlet-class>huyttl.Controller.RevertAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryOrder</servlet-name>
        <url-pattern>/ViewHistoryOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/invalid.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CheckVoucher</servlet-name>
        <url-pattern>/CheckVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyVoucher</servlet-name>
        <url-pattern>/ApplyVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCategory</servlet-name>
        <url-pattern>/CheckCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByID</servlet-name>
        <url-pattern>/SearchProductByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <url-pattern>/UpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetails</servlet-name>
        <url-pattern>/ViewOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailsUser</servlet-name>
        <url-pattern>/ViewOrderDetailsUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderAccept</servlet-name>
        <url-pattern>/GetOrderAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderWaiting</servlet-name>
        <url-pattern>/GetOrderWaiting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTotalIncome</servlet-name>
        <url-pattern>/GetTotalIncome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAmountProduct</servlet-name>
        <url-pattern>/GetAmountProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccount</servlet-name>
        <url-pattern>/GetAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPriceEachMonth</servlet-name>
        <url-pattern>/GetPriceEachMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevertAccount</servlet-name>
        <url-pattern>/RevertAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
